# Image for the EFI Boot Partition (FAT32)
image efi-part.vfat {
    vfat {
        # This will grab the exact correct layout we generated in post-image.sh
        file EFI {
            image = "efi-part/EFI"
        }
        file bzImage {
            image = "efi-part/bzImage"
        }
    }
    size = 128M
}

# The final physical disk image
image swacs1d.img {
    hdimage {
        # Use GPT for modern UEFI/Secure Boot compatibility
        partition-table-type = "gpt"
    }

    # PARTITION 1: EFI BOOT
    partition boot {
        image = "efi-part.vfat"
        offset = 1M
        partition-type-uuid = "c12a7328-f81f-11d2-ba4b-00a0c93ec93b" # UUID for EFI System Partition
        bootable = true
    }

    # PARTITION 2: ROOT OS (Read-Only SquashFS)
    partition root {
        image = "rootfs.squashfs"
        partition-type-uuid = "4f68bce3-e8cd-4db1-96e7-fbcaf984b709" # UUID for Linux Root (x86-64)
        partition-uuid = "b7a69b76-4d2c-473d-82d2-8b431718cb1a"
    }

    # NOTE: Partitions 3 (Score) and 4 (Game) are NOT defined here.
    # The S05part script will create them on the first boot to fill 
    # the remainder of the physical SSD/Hard Drive.
}
